In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [3]:
with open('../data/applicants.json', 'r', encoding='utf-8') as f:
    applicants = pd.read_json(f)

with open('../data/prospects.json', 'r', encoding='utf-8') as f:
    prospects = pd.read_json(f)

with open('../data/vagas.json', 'r', encoding='utf-8') as f:
    vagas = pd.read_json(f)

In [4]:
applicants.head()
prospects.head()
vagas.head()

# Ver quantidade de linhas e colunas
print(applicants.shape)
print(prospects.shape)
print(vagas.shape)

# Ver tipos de dados e nulos
print(applicants.info())
print(applicants.isnull().sum())

(7, 42482)
(3, 14222)
(3, 14081)
<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, infos_basicas to cv_en
Columns: 42482 entries, 31000 to 5999
dtypes: object(42482)
memory usage: 2.3+ MB
None
31000    0
31001    0
31002    0
31003    0
31004    0
        ..
5995     0
5996     0
5997     0
5998     0
5999     0
Length: 42482, dtype: int64

In [5]:
# Ver as 5 primeiras linhas
applicants.head()

,31000,31001,31002,31003,31004,31005,31006,31007,31008,31009,...,5990,5991,5992,5993,5994,5995,5996,5997,5998,5999
infos_basicas,"{'telefone_recado': '', 'telefone': '(11) 9704...","{'telefone_recado': '', 'telefone': '(11) 9372...","{'telefone_recado': '', 'telefone': '(11) 9239...","{'telefone_recado': '', 'telefone': '(11) 9810...","{'telefone_recado': '', 'telefone': '(11) 9251...","{'telefone_recado': '', 'telefone': '(11) 9498...","{'telefone_recado': '', 'telefone': '(11) 9484...","{'telefone_recado': '', 'telefone': '(31) 9986...","{'telefone_recado': '', 'telefone': '(11) 9288...","{'telefone_recado': '', 'telefone': '(11) 9535...",...,"{'telefone_recado': '', 'telefone': '(11) 9524...","{'telefone_recado': '', 'telefone': '(11) 9236...","{'telefone_recado': '', 'telefone': '(11) 9135...","{'telefone_recado': '', 'telefone': '(34) 9716...","{'telefone_recado': '', 'telefone': '(48) 9236...","{'telefone_recado': '', 'telefone': '(11) 9262...","{'telefone_recado': '', 'telefone': '(41) 9300...","{'telefone_recado': '', 'telefone': '(11) 9783...","{'telefone_recado': '', 'telefone': '(61) 9680...","{'telefone_recado': '', 'telefone': '(15) 9563..."
informacoes_pessoais,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...,{'data_aceite': 'Cadastro anterior ao registro...
informacoes_profissionais,"{'titulo_profissional': '', 'area_atuacao': ''...",{'titulo_profissional': 'Analista Administrati...,{'titulo_profissional': 'Administrativo | Fina...,"{'titulo_profissional': 'Área administrativa',...","{'titulo_profissional': '', 'area_atuacao': ''...",{'titulo_profissional': 'Administrativa/logíst...,{'titulo_profissional': 'Analista Administrati...,{'titulo_profissional': 'Desejo fazer parte do...,"{'titulo_profissional': '', 'area_atuacao': ''...","{'titulo_profissional': '', 'area_atuacao': ''...",...,"{'titulo_profissional': 'Crm', 'area_atuacao':...","{'titulo_profissional': 'Crm', 'area_atuacao':...","{'titulo_profissional': 'Crm', 'area_atuacao':...","{'titulo_profissional': 'Crm', 'area_atuacao':...","{'titulo_profissional': 'Crm', 'area_atuacao':...",{'titulo_profissional': 'Crm / Líder de Projet...,"{'titulo_profissional': 'Crm', 'area_atuacao':...","{'titulo_profissional': 'Crm', 'area_atuacao':...","{'titulo_profissional': 'Crm', 'area_atuacao':...","{'titulo_profissional': 'Crm', 'area_atuacao':..."
formacao_e_idiomas,"{'nivel_academico': '', 'nivel_ingles': '', 'n...",{'nivel_academico': 'Ensino Superior Incomplet...,{'nivel_academico': 'Ensino Superior Completo'...,{'nivel_academico': 'Ensino Superior Incomplet...,"{'nivel_academico': '', 'nivel_ingles': '', 'n...","{'nivel_academico': 'Ensino Técnico Completo',...",{'nivel_academico': 'Ensino Superior Cursando'...,{'nivel_academico': 'Ensino Superior Completo'...,"{'nivel_academico': '', 'nivel_ingles': '', 'n...","{'nivel_academico': '', 'nivel_ingles': '', 'n...",...,"{'nivel_academico': '', 'nivel_ingles': '', 'n...","{'nivel_academico': '', 'nivel_ingles': '', 'n...","{'nivel_academico': '', 'nivel_ingles': '', 'n...","{'nivel_academico': '', 'nivel_ingles': '', 'n...","{'nivel_academico': '', 'nivel_ingles': '', 'n...","{'nivel_academico': '', 'nivel_ingles': '', 'n...","{'nivel_academico': '', 'nivel_ingles': '', 'n...","{'nivel_academico': '', 'nivel_ingles': '', 'n...","{'nivel_academico': '', 'nivel_ingles': '', 'n...","{'nivel_academico': '', 'nivel_ingles': '', 'n..."
cargo_atual,{},{},{},{},{},{},{},{},{},{},...,{},{},{},{},{},{},{},{},{},{}

In [6]:
prospects.head()
vagas.head()

,5185,5184,5183,5182,5181,5180,5179,5178,5177,5176,...,12373,12372,12371,12370,12369,12368,12367,12366,12365,12364
informacoes_basicas,"{'data_requicisao': '04-05-2021', 'limite_espe...","{'data_requicisao': '04-05-2021', 'limite_espe...","{'data_requicisao': '04-05-2021', 'limite_espe...","{'data_requicisao': '04-05-2021', 'limite_espe...","{'data_requicisao': '04-05-2021', 'limite_espe...","{'data_requicisao': '04-05-2021', 'limite_espe...","{'data_requicisao': '04-05-2021', 'limite_espe...","{'data_requicisao': '04-05-2021', 'limite_espe...","{'data_requicisao': '04-05-2021', 'limite_espe...","{'data_requicisao': '04-05-2021', 'limite_espe...",...,"{'data_requicisao': '29-02-2024', 'limite_espe...","{'data_requicisao': '29-02-2024', 'limite_espe...","{'data_requicisao': '29-02-2024', 'limite_espe...","{'data_requicisao': '28-02-2024', 'limite_espe...","{'data_requicisao': '28-02-2024', 'limite_espe...","{'data_requicisao': '28-02-2024', 'limite_espe...","{'data_requicisao': '28-02-2024', 'limite_espe...","{'data_requicisao': '27-02-2024', 'limite_espe...","{'data_requicisao': '27-02-2024', 'limite_espe...","{'data_requicisao': '27-02-2024', 'limite_espe..."
perfil_vaga,"{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'Paraná', 'cidade...",...,"{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid...","{'pais': 'Brasil', 'estado': 'São Paulo', 'cid..."
beneficios,"{'valor_venda': '-', 'valor_compra_1': 'R$', '...","{'valor_venda': '-', 'valor_compra_1': 'R$', '...","{'valor_venda': '-', 'valor_compra_1': 'R$', '...","{'valor_venda': '- p/ mês (168h)', 'valor_comp...","{'valor_venda': '-', 'valor_compra_1': 'R$', '...","{'valor_venda': '-', 'valor_compra_1': 'R$', '...","{'valor_venda': '-', 'valor_compra_1': 'R$', '...","{'valor_venda': '-', 'valor_compra_1': 'R$', '...","{'valor_venda': '-', 'valor_compra_1': 'R$', '...","{'valor_venda': '-', 'valor_compra_1': 'R$', '...",...,"{'valor_venda': '270,00 -', 'valor_compra_1': ...","{'valor_venda': '2.300,00 -', 'valor_compra_1'...","{'valor_venda': '168 -', 'valor_compra_1': 'Ab...","{'valor_venda': '78,00 - p/ hora', 'valor_comp...","{'valor_venda': '168 -', 'valor_compra_1': 'Fe...","{'valor_venda': '123,00 -', 'valor_compra_1': ...","{'valor_venda': '168 -', 'valor_compra_1': 'Fe...","{'valor_venda': '168 -', 'valor_compra_1': 'Fe...","{'valor_venda': '168 -', 'valor_compra_1': 'Fe...","{'valor_venda': '168 -', 'valor_compra_1': 'Fe..."

In [7]:
print(applicants.shape)
print(prospects.shape)
print(vagas.shape)

(7, 42482)
(3, 14222)
(3, 14081)

In [8]:
applicants.info()
applicants.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, infos_basicas to cv_en
Columns: 42482 entries, 31000 to 5999
dtypes: object(42482)
memory usage: 2.3+ MB

31000    0
31001    0
31002    0
31003    0
31004    0
        ..
5995     0
5996     0
5997     0
5998     0
5999     0
Length: 42482, dtype: int64

In [9]:
applicants_t = applicants.T
prospects_t = prospects.T
vagas_t = vagas.T

In [10]:
applicants_t.iloc[0]['infos_basicas']
# {'telefone_recado': '', 'telefone': '(11) 9704...', ...}

{'telefone_recado': '',
 'telefone': '(11) 97048-2708',
 'objetivo_profissional': '',
 'data_criacao': '10-11-2021 07:29:49',
 'inserido_por': 'Luna Correia',
 'email': 'carolina_aparecida@gmail.com',
 'local': '',
 'sabendo_de_nos_por': '',
 'data_atualizacao': '10-11-2021 07:29:49',
 'codigo_profissional': '31000',
 'nome': 'Carolina Aparecida'}

In [11]:
# Expandir dicionários em colunas
applicants_df = pd.concat([
    applicants_t['infos_basicas'].apply(pd.Series),
    applicants_t['informacoes_pessoais'].apply(pd.Series),
    applicants_t['informacoes_profissionais'].apply(pd.Series),
    applicants_t['formacao_e_idiomas'].apply(pd.Series)
], axis=1)

In [12]:
vagas_df = pd.concat([
    vagas_t['informacoes_basicas'].apply(pd.Series),
    vagas_t['perfil_vaga'].apply(pd.Series)
], axis=1)

In [13]:
applicants_df.head()
vagas_df.head()

,data_requicisao,limite_esperado_para_contratacao,titulo_vaga,vaga_sap,cliente,solicitante_cliente,empresa_divisao,requisitante,analista_responsavel,tipo_contratacao,...,nivel_ingles,nivel_espanhol,outro_idioma,areas_atuacao,principais_atividades,competencia_tecnicas_e_comportamentais,demais_observacoes,viagens_requeridas,equipamentos_necessarios,habilidades_comportamentais_necessarias
5185,04-05-2021,00-00-0000,Operation Lead -,Não,"Morris, Moran and Dodson",Dra. Catarina Marques,Decision São Paulo,Maria Laura Nogueira,Srta. Bella Ferreira,CLT Full,...,Avançado,Fluente,,TI - Sistemas e Ferramentas-,Operations Lead\n\nRoles & Responsibilities:\n...,Required Skills:\n• Prior experience in Cloud ...,100% Remoto Período – entre 5 – 6 meses,,Nenhum -,NaN
5184,04-05-2021,00-00-0000,Consultor PP/QM Sênior,Não,"Morris, Moran and Dodson",Dra. Catarina Marques,Decision São Paulo,Maria Laura Nogueira,Yasmin da Rosa,CLT Full,...,Fluente,Nenhum,,TI - Desenvolvimento/Programação-,Consultor PP/QM Sr.\n\n• Consultor PP/QM Sênio...,• Consultor PP/QM Sênior com experiencia em pr...,• Início: Imediato • Fim: Jan/22,,Nenhum -,NaN
5183,04-05-2021,00-00-0000,ANALISTA PL/JR C/ SQL,Não,"Morris, Moran and Dodson",Dra. Catarina Marques,Decision São Paulo,Maria Laura Nogueira,Ana Albuquerque,CLT Full,...,Nenhum,Intermediário,,TI - Sistemas e Ferramentas-,Descrição – Atividades:\n\no Monitoramento das...,Requisitos mandatórios:\n\no Conhecimentos Téc...,Localização: Remoto Perfil: Analista Pleno ou ...,,Nenhum -,NaN
5182,04-05-2021,18-05-2021,Technical Architect - 11894809,Não,Nelson-Page,Dr. Raul Monteiro,Decision São Paulo,Cecília Freitas,Clara Rios,"PJ/Autônomo, CLT Full",...,Básico,Básico,,TI - Projetos-,Descrição/Comentário: Architecture Frameworks ...,Descrição/Comentário: Architecture Frameworks ...,Budgeted Rate - indicate currency and type (ho...,Não,Notebook padrão -,NaN
5181,04-05-2021,00-00-0000,Consultor SAP AUTHORIZATION (BCA) -Pleno / Sênior,Não,Mann and Sons,Cauê Fogaça,Decision São Paulo,Maria Laura Nogueira,Srta. Bella Ferreira,CLT Full,...,Intermediário,Nenhum,,TI - SAP-,Experiência como Consultor SAP AUTHORIZATION (...,Experiência como Consultor SAP AUTHORIZATION (...,contratação CLT full pela Decision locação rem...,Sim,Nenhum -,NaN

In [14]:
prospects_t.iloc[0]

titulo                                      CONSULTOR CONTROL M
modalidade
prospects     [{'nome': 'José Vieira', 'codigo': '25632', 's...
Name: 4530, dtype: object

In [15]:
prospects_t.columns
prospects_t.iloc[:, 0].apply(lambda x: list(x.keys()) if isinstance(x, dict) else None)

4530     None
4531     None
4532     None
4533     None
4534     None
         ...
14218    None
14219    None
14220    None
14221    None
14222    None
Name: titulo, Length: 14222, dtype: object

In [16]:
# Transpor
prospects_t = prospects.T

# Expandir colunas em DataFrame
prospects_df = pd.concat([
    prospects_t[col].apply(pd.Series) for col in prospects_t.columns
], axis=1)

prospects_df.head()

,0,0,0,1,2,3,4,5,6,7,...,15,16,17,18,19,20,21,22,23,24
4530,CONSULTOR CONTROL M,,"{'nome': 'José Vieira', 'codigo': '25632', 'si...","{'nome': 'Srta. Isabela Cavalcante', 'codigo':...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4531,2021-2607395-PeopleSoft Application Engine-Dom...,,"{'nome': 'Sra. Yasmin Fernandes', 'codigo': '2...","{'nome': 'Alexia Barbosa', 'codigo': '25360', ...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4532,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4533,2021-2605708-Microfocus Application Life Cycle...,,"{'nome': 'Arthur Almeida', 'codigo': '26338', ...","{'nome': 'Dante Sampaio', 'codigo': '24645', '...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4534,2021-2605711-Microfocus QTP - UFT Automation T...,,"{'nome': 'Ana Luiza Vieira', 'codigo': '26361'...","{'nome': 'Isabella da Cruz', 'codigo': '26205'...","{'nome': 'Maria Helena Peixoto', 'codigo': '26...","{'nome': 'Dra. Gabrielly Cassiano', 'codigo': ...","{'nome': 'Sra. Maria Sophia Sampaio', 'codigo'...","{'nome': 'Eloá da Mota', 'codigo': '21458', 's...","{'nome': 'Luiz Gustavo Dias', 'codigo': '13951...","{'nome': 'Sr. Benjamin Sampaio', 'codigo': '12...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Carregar o JSON puro
import json

with open('../data/prospects.json', 'r', encoding='utf-8') as f:
    raw_prospects = json.load(f)

In [18]:
# Lista para armazenar os dados extraídos
rows = []

# Percorrer cada vaga (uma vaga = uma linha do JSON)
for vaga_id, prospect in raw_prospects.items():
    candidatos = prospect.get("prospects", [])
    for candidato in candidatos:
        codigo = candidato.get("codigo")
        nome = candidato.get("nome")
        status = candidato.get("status", "").lower()  # pode ser 'contratado', 'reprovado', etc.
        contratado = 1 if "contratado" in status else 0
        rows.append({
            "codigo_vaga": vaga_id,
            "codigo_profissional": codigo,
            "nome": nome,
            "contratado": contratado
        })

In [19]:
prospects_df = pd.DataFrame(rows)
prospects_df.head()

  codigo_vaga codigo_profissional                      nome  contratado
0        4530               25632               José Vieira           0
1        4530               25529  Srta. Isabela Cavalcante           0
2        4531               25364     Sra. Yasmin Fernandes           0
3        4531               25360            Alexia Barbosa           0
4        4533               26338            Arthur Almeida           0

In [20]:
prospects_df['codigo_profissional'] = prospects_df['codigo_profissional'].astype(str)

In [21]:
prospects_df['codigo_vaga'] = prospects_df['codigo_vaga'].astype(str)

In [22]:
print(applicants_df.columns)
print(vagas_df.columns)

Index(['telefone_recado', 'telefone', 'objetivo_profissional', 'data_criacao',
       'inserido_por', 'email', 'local', 'sabendo_de_nos_por',
       'data_atualizacao', 'codigo_profissional', 'nome', 'data_aceite',
       'nome', 'cpf', 'fonte_indicacao', 'email', 'email_secundario',
       'data_nascimento', 'telefone_celular', 'telefone_recado', 'sexo',
       'estado_civil', 'pcd', 'endereco', 'skype', 'url_linkedin', 'facebook',
       'download_cv', 'titulo_profissional', 'area_atuacao',
       'conhecimentos_tecnicos', 'certificacoes', 'outras_certificacoes',
       'remuneracao', 'nivel_profissional', 'qualificacoes', 'experiencias',
       'nivel_academico', 'nivel_ingles', 'nivel_espanhol', 'outro_idioma',
       'instituicao_ensino_superior', 'cursos', 'ano_conclusao',
       'outro_curso'],
      dtype='object')
Index(['data_requicisao', 'limite_esperado_para_contratacao', 'titulo_vaga',
       'vaga_sap', 'cliente', 'solicitante_cliente', 'empresa_divisao',
       'requisitante', 'analista_responsavel', 'tipo_contratacao',
       'prazo_contratacao', 'objetivo_vaga', 'prioridade_vaga', 'origem_vaga',
       'superior_imediato', 'nome', 'telefone', 'data_inicial', 'data_final',
       'nome_substituto', 'pais', 'estado', 'cidade', 'bairro', 'regiao',
       'local_trabalho', 'vaga_especifica_para_pcd', 'faixa_etaria',
       'horario_trabalho', 'nivel profissional', 'nivel_academico',
       'nivel_ingles', 'nivel_espanhol', 'outro_idioma', 'areas_atuacao',
       'principais_atividades', 'competencia_tecnicas_e_comportamentais',
       'demais_observacoes', 'viagens_requeridas', 'equipamentos_necessarios',
       'habilidades_comportamentais_necessarias'],
      dtype='object')

In [23]:
vagas_df = vagas_df.reset_index().rename(columns={'index': 'codigo_vaga'})
vagas_df['codigo_vaga'] = vagas_df['codigo_vaga'].astype(str)

In [24]:
applicants_df['codigo_profissional'] = applicants_df['codigo_profissional'].astype(str)
prospects_df['codigo_profissional'] = prospects_df['codigo_profissional'].astype(str)
prospects_df['codigo_vaga'] = prospects_df['codigo_vaga'].astype(str)

In [25]:
# Junta dados do candidato
df = pd.merge(prospects_df, applicants_df, on='codigo_profissional', how='left')

# Junta dados da vaga
df = pd.merge(df, vagas_df, on='codigo_vaga', how='left')

In [26]:
print(df.shape)
df[['codigo_profissional', 'codigo_vaga', 'contratado']].head()

(53759, 89)

  codigo_profissional codigo_vaga  contratado
0               25632        4530           0
1               25529        4530           0
2               25364        4531           0
3               25360        4531           0
4               26338        4533           0

In [27]:
df.to_csv('../data/dataset_final.csv', index=False)

In [29]:
# Extrai os valores únicos da coluna 'area_atuacao' e salva num CSV
valores = pd.Series(df_model['area_atuacao'].dropna().unique())
valores.to_csv('../data/valores_area_atuacao.csv', index=False)

print("Valores salvos com sucesso! Veja o arquivo: data/valores_area_atuacao.csv")

NameError: name 'df_model' is not defined